/* Base */
body {
  line-height: 1.7;
  color: #4d4d4d;
  font-weight: 400;
  font-size: 1rem;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  background-color: #ff7979;
}
::-webkit-scrollbar-thumb:hover {
  box-shadow: 0 0 30px 0 #000;
}

::-moz-selection {
  background: #000;
  color: #fff;
}

::selection {
  background: #000;
  color: #fff;
}

a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-family: 'Quicksand', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.border-2 {
  border-width: 2px;
}

.text-black {
  color: #000 !important;
}

.bg-black {
  background: #000 !important;
}

.color-black-opacity-5 {
  color: rgba(0, 0, 0, 0.5);
}

.color-white-opacity-5 {
  color: rgba(255, 255, 255, 0.5);
}

.site-wrap:before {
  display: none;
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  background: rgba(0, 0, 0, 0.6);
  content: '';
  position: absolute;
  z-index: 2000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
}

.offcanvas-menu .site-wrap {
  height: 100%;
  width: 100%;
  z-index: 2;
}
.offcanvas-menu .site-wrap:before {
  opacity: 1;
  visibility: visible;
}

.btn {
  border-radius: 30px;
}
.btn:hover,
.btn:active,
.btn:focus {
  outline: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.btn.btn-black {
  color: #fff;
  background-color: #000;
}
.btn.btn-black:hover {
  color: #000;
  background-color: #fff;
}
.btn.btn-outline-white {
  border: 2px solid #fff;
}
.btn.btn-outline-white:hover {
  background: #fff;
  color: #25CCF7 !important;
}
.btn.btn-md {
  padding: 15px 30px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.line-height-1 {
  line-height: 1 !important;
}

.bg-black {
  background: #000;
}

.form-control {
  height: 43px;
  border-radius: 30px;
  font-family: 'Quicksand', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
.form-control:active,
.form-control:focus {
  border-color: #25CCF7;
}
.form-control:hover,
.form-control:active,
.form-control:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.site-section {
  padding: 2.5em 0;
}
@media (min-width: 768px) {
  .site-section {
    padding: 5em 0;
  }
}
.site-section.site-section-sm {
  padding: 4em 0;
}

.site-section-heading {
  padding-bottom: 20px;
  margin-bottom: 0px;
  position: relative;
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .site-section-heading {
    font-size: 3rem;
  }
}

.border-top {
  border-top: 1px solid #edf0f5 !important;
}

.site-footer {
  padding: 4em 0;
  background: #333333;
}
@media (min-width: 768px) {
  .site-footer {
    padding: 8em 0;
  }
}
.site-footer .border-top {
  border-top: 1px solid rgba(255, 255, 255, 0.1) !important;
}
.site-footer p {
  color: #737373;
}
.site-footer h2,
.site-footer h3,
.site-footer h4,
.site-footer h5 {
  color: #fff;
}
.site-footer a {
  color: #999999;
}
.site-footer a:hover {
  color: white;
}
.site-footer ul li {
  margin-bottom: 10px;
}
.site-footer .footer-heading {
  font-size: 16px;
  color: #fff;
}

.bg-text-line {
  display: inline;
  background: #000;
  -webkit-box-shadow: 20px 0 0 #000, -20px 0 0 #000;
  box-shadow: 20px 0 0 #000, -20px 0 0 #000;
}

.text-white-opacity-05 {
  color: rgba(255, 255, 255, 0.5);
}

.text-black-opacity-05 {
  color: rgba(0, 0, 0, 0.5);
}

.hover-bg-enlarge {
  overflow: hidden;
  position: relative;
}
@media (max-width: 991.98px) {
  .hover-bg-enlarge {
    height: auto !important;
  }
}
.hover-bg-enlarge > div {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.8s all ease-in-out;
  -o-transition: 0.8s all ease-in-out;
  transition: 0.8s all ease-in-out;
}
.hover-bg-enlarge:hover > div,
.hover-bg-enlarge:focus > div,
.hover-bg-enlarge:active > div {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
@media (max-width: 991.98px) {
  .hover-bg-enlarge .bg-image-md-height {
    height: 300px !important;
  }
}

.bg-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.bg-image.overlay {
  position: relative;
}
.bg-image.overlay:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
}
.bg-image > .container {
  position: relative;
  z-index: 1;
}

@media (max-width: 991.98px) {
  .img-md-fluid {
    max-width: 100%;
  }
}

@media (max-width: 991.98px) {
  .display-1,
  .display-3 {
    font-size: 3rem;
  }
}

.ul-check {
  margin-bottom: 50px;
}
.ul-check li {
  position: relative;
  padding-left: 35px;
  margin-bottom: 15px;
  line-height: 1.5;
}
.ul-check li:before {
  left: 0;
  font-size: 20px;
  top: -0.3rem;
  font-family: 'icomoon';
  content: '\e5ca';
  position: absolute;
}
.ul-check.white li:before {
  color: #fff;
}
.ul-check.success li:before {
  color: #8bc34a;
}
.ul-check.primary li:before {
  color: #25CCF7;
}

.select-wrap,
.wrap-icon {
  position: relative;
}
.select-wrap .icon,
.wrap-icon .icon {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 22px;
}
.select-wrap select,
.wrap-icon select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
}

/* Navbar */
.site-navbar {
  margin-bottom: 0px;
  z-index: 1999;
  position: relative;
  width: 100%;
  background: #fff;
}
.site-navbar .site-logo {
  position: relative;
  left: 0;
  top: -5px;
}
.site-navbar .site-navigation.border-bottom {
  border-bottom: 1px solid #f3f3f4 !important;
}
.site-navbar .site-navigation .site-menu {
  margin-bottom: 0;
}
.site-navbar .site-navigation .site-menu .active {
  color: #ff7979;
  display: inline-block;
  padding: 5px 20px;
}
.site-navbar .site-navigation .site-menu a {
  text-decoration: none !important;
  display: inline-block;
}
.site-navbar .site-navigation .site-menu > li {
  display: inline-block;
}
.site-navbar .site-navigation .site-menu > li > a {
  padding: 5px 20px;
  color: #ff7979;
  display: inline-block;
  text-decoration: none !important;
}
.site-navbar .site-navigation .site-menu > li > a:hover {
  color: #fff;
}

.site-navbar .site-navigation .site-menu .has-children {
  position: relative;
}
.site-navbar .site-navigation .site-menu .has-children > a {
  position: relative;
  padding-right: 20px;
}
.nav {
  height: 60px;
}
.site-navbar .site-navigation .site-menu .has-children > a:before {
  position: absolute;
  content: '\e313';
  font-size: 16px;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: 'icomoon';
}
.site-navbar .site-navigation .site-menu .has-children .dropdown {
  visibility: hidden;
  opacity: 0;
  top: 100%;
  position: absolute;
  text-align: left;
  border-top: 2px solid #25CCF7;
  -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
  border-left: 1px solid #edf0f5;
  border-right: 1px solid #edf0f5;
  border-bottom: 1px solid #edf0f5;
  padding: 0px 0;
  margin-top: 20px;
  margin-left: 0px;
  background: #fff;
  -webkit-transition: 0.2s 0s;
  -o-transition: 0.2s 0s;
  transition: 0.2s 0s;
  width: 250px;
  border-bottom: 3px solid red!important;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
  position: absolute;
}
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown.arrow-top:before {
  bottom: 100%;
  left: 20%;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown.arrow-top:before {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown a {
  text-transform: none;
  letter-spacing: normal;
  -webkit-transition: 0s all;
  -o-transition: 0s all;
  transition: 0s all;
  color: #343a40;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown .active > a {
  color: #25CCF7 !important;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown > li {
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 200px;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
  padding: 9px 20px;
  display: block;
}
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li
  > a:hover {
  background: #f4f5f9;
  color: #25262a;
}
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li.has-children
  > a:before {
  content: '\e315';
  right: 20px;
}
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li.has-children
  > .dropdown,
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li.has-children
  > ul {
  left: 100%;
  top: 0;
}
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li.has-children:hover
  > a,
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li.has-children:active
  > a,
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li.has-children:focus
  > a {
  background: #f4f5f9;
  color: #25262a;
}
.site-navbar .site-navigation .site-menu .has-children:hover > a,
.site-navbar .site-navigation .site-menu .has-children:focus > a,
.site-navbar .site-navigation .site-menu .has-children:active > a {
  color: #25CCF7;
}
.site-navbar .site-navigation .site-menu .has-children:hover,
.site-navbar .site-navigation .site-menu .has-children:focus,
.site-navbar .site-navigation .site-menu .has-children:active {
  cursor: pointer;
}
.site-navbar .site-navigation .site-menu .has-children:hover > .dropdown,
.site-navbar .site-navigation .site-menu .has-children:focus > .dropdown,
.site-navbar .site-navigation .site-menu .has-children:active > .dropdown {
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  margin-top: 0px;
  visibility: visible;
  opacity: 1;
}

.site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: #fff;
  height: calc(100vh);
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.offcanvas-menu .site-mobile-menu {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}
.site-mobile-menu .site-mobile-menu-header {
  width: 100%;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
  float: right;
  margin-top: 8px;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
  font-size: 30px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 0px;
  line-height: 1;
  cursor: pointer;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
  color: #25262a;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
  float: left;
  margin-top: 10px;
  margin-left: 0px;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
  display: inline-block;
  text-transform: uppercase;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
  max-width: 70px;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
  text-decoration: none;
}
.site-mobile-menu .site-mobile-menu-body {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
  padding: 0 20px 20px 20px;
  height: calc(100vh - 52px);
  padding-bottom: 150px;
}
.site-mobile-menu .site-nav-wrap {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}
.site-mobile-menu .site-nav-wrap a {
  padding: 10px 20px;
  display: block;
  position: relative;
  color: #212529;
}
.site-mobile-menu .site-nav-wrap a:hover {
  color: #25CCF7;
}
.site-mobile-menu .site-nav-wrap li {
  position: relative;
  display: block;
}
.site-mobile-menu .site-nav-wrap li .active {
  color: #25CCF7;
}
.site-mobile-menu .site-nav-wrap .arrow-collapse {
  position: absolute;
  right: 0px;
  top: 10px;
  z-index: 20;
  width: 36px;
  height: 36px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
}
.site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
  background: #f8f9fa;
}
.site-mobile-menu .site-nav-wrap .arrow-collapse:before {
  font-size: 12px;
  z-index: 20;
  font-family: 'icomoon';
  content: '\f078';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-180deg);
  -ms-transform: translate(-50%, -50%) rotate(-180deg);
  transform: translate(-50%, -50%) rotate(-180deg);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.site-mobile-menu .site-nav-wrap > li {
  display: block;
  position: relative;
  float: left;
  width: 100%;
}
.site-mobile-menu .site-nav-wrap > li > a {
  padding-left: 20px;
  font-size: 20px;
}
.site-mobile-menu .site-nav-wrap > li > ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.site-mobile-menu .site-nav-wrap > li > ul > li {
  display: block;
}
.site-mobile-menu .site-nav-wrap > li > ul > li > a {
  padding-left: 40px;
  font-size: 16px;
}
.site-mobile-menu .site-nav-wrap > li > ul > li > ul {
  padding: 0;
  margin: 0;
}
.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
  display: block;
}
.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
  font-size: 16px;
  padding-left: 60px;
}
.site-mobile-menu .site-nav-wrap[data-class='social'] {
  float: left;
  width: 100%;
  margin-top: 30px;
  padding-bottom: 5em;
}
.site-mobile-menu .site-nav-wrap[data-class='social'] > li {
  width: auto;
}
.site-mobile-menu .site-nav-wrap[data-class='social'] > li:first-child a {
  padding-left: 15px !important;
}

.sticky-wrapper {
  position: absolute;
  z-index: 100;
  width: 100%;
}
.sticky-wrapper + .site-blocks-cover {
  margin-top: 76px;
}
.sticky-wrapper .site-navbar {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.sticky-wrapper.is-sticky .site-navbar {
  -webkit-box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
}
.sticky-wrapper .shrink {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.bg-light {
  background: #ccc;
}
.site-block-tab .nav-item {
  text-transform: uppercase;
  font-size: 0.8rem;
  margin: 0 20px;
}
.site-block-tab .nav-item:first-child {
  margin-left: 0 !important;
}
.site-block-tab .nav-item > a {
  padding-left: 0 !important;
  background: none !important;
  padding-right: 0 !important;
  border-bottom: 2px solid transparent;
  border-radius: 0 !important;
  font-weight: bold;
  color: #cccccc;
}
.site-block-tab .nav-item > a:hover,
.site-block-tab .nav-item > a.active {
  border-bottom: 2px solid #25CCF7;
  color: #000;
}

.block-13,
.slide-one-item {
  position: relative;
  z-index: 1;
}
.block-13 .owl-nav,
.slide-one-item .owl-nav {
  position: relative;
  position: absolute;
  bottom: -90px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.block-13 .owl-nav .owl-prev,
.block-13 .owl-nav .owl-next,
.slide-one-item .owl-nav .owl-prev,
.slide-one-item .owl-nav .owl-next {
  position: relative;
  display: inline-block;
  padding: 20px;
  font-size: 30px;
  color: #000;
}
.block-13 .owl-nav .owl-prev.disabled,
.block-13 .owl-nav .owl-next.disabled,
.slide-one-item .owl-nav .owl-prev.disabled,
.slide-one-item .owl-nav .owl-next.disabled {
  opacity: 0.2;
}

.slide-one-item.home-slider .owl-nav {
  position: absolute !important;
  top: 50% !important;
  bottom: auto !important;
  width: 100%;
}
@media (max-width: 991.98px) {
  .slide-one-item.home-slider .owl-nav {
    display: none;
  }
}

.slide-one-item.home-slider .owl-prev {
  left: 10px !important;
}

.slide-one-item.home-slider .owl-next {
  right: 10px !important;
}

.slide-one-item.home-slider .owl-prev,
.slide-one-item.home-slider .owl-next {
  color: #fff;
  position: absolute !important;
  top: 50%;
  padding: 0px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  line-height: 0;
  text-align: center;
  font-size: 25px;
}
@media (min-width: 768px) {
  .slide-one-item.home-slider .owl-prev,
  .slide-one-item.home-slider .owl-next {
    font-size: 25px;
  }
}
.slide-one-item.home-slider .owl-prev > span,
.slide-one-item.home-slider .owl-next > span {
  position: absolute;
  line-height: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.slide-one-item.home-slider .owl-prev:hover,
.slide-one-item.home-slider .owl-prev:focus,
.slide-one-item.home-slider .owl-next:hover,
.slide-one-item.home-slider .owl-next:focus {
  background: black;
}

.slide-one-item.home-slider:hover .owl-nav,
.slide-one-item.home-slider:focus .owl-nav,
.slide-one-item.home-slider:active .owl-nav {
  opacity: 10;
  visibility: visible;
}

.slide-one-item .owl-dots {
  text-align: center;
}
.slide-one-item .owl-dots .owl-dot {
  display: inline-block;
  margin: 4px;
}
.slide-one-item .owl-dots .owl-dot span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #dee2e6;
}
.slide-one-item .owl-dots .owl-dot.active span {
  background: #25CCF7;
}

.block-12 {
  position: relative;
}
.block-12 figure {
  position: relative;
}
.block-12 figure:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -moz-linear-gradient(
    top,
    transparent 0%,
    transparent 18%,
    rgba(0, 0, 0, 0.8) 99%,
    rgba(0, 0, 0, 0.8) 100%
  );
  background: -webkit-linear-gradient(
    top,
    transparent 0%,
    transparent 18%,
    rgba(0, 0, 0, 0.8) 99%,
    rgba(0, 0, 0, 0.8) 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(transparent),
    color-stop(18%, transparent),
    color-stop(99%, rgba(0, 0, 0, 0.8)),
    to(rgba(0, 0, 0, 0.8))
  );
  background: -o-linear-gradient(
    top,
    transparent 0%,
    transparent 18%,
    rgba(0, 0, 0, 0.8) 99%,
    rgba(0, 0, 0, 0.8) 100%
  );
  background: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 18%,
    rgba(0, 0, 0, 0.8) 99%,
    rgba(0, 0, 0, 0.8) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 );
}
.block-12 .text-overlay {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  z-index: 10;
}
.block-12 .text-overlay h2 {
  color: #fff;
}
.block-12 .text {
  position: relative;
  top: -100px;
}
.block-12 .text .meta {
  text-transform: uppercase;
  padding-left: 40px;
  color: #fff;
  display: block;
  margin-bottom: 20px;
}
.block-12 .text .text-inner {
  -webkit-box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.3);
  background: #fff;
  padding: 10px;
  margin-right: 30px;
  position: relative;
}
@media (min-width: 576px) {
  .block-12 .text .text-inner {
    padding: 20px;
  }
}
@media (min-width: 768px) {
  .block-12 .text .text-inner {
    padding: 30px 40px;
  }
}
.block-12 .text .text-inner:before {
  position: absolute;
  content: '';
  width: 80px;
  height: 4px;
  margin-top: -4px;
  background: #25CCF7;
  top: 0;
}
.block-12 .text .text-inner .heading {
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.block-16 figure {
  position: relative;
}
.block-16 figure .play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 20px;
  width: 70px;
  height: 70px;
  background: #fff;
  display: block;
  border-radius: 50%;
  opacity: 1;
  color: #25CCF7 !important;
}
.block-16 figure .play-button:hover {
  opacity: 1;
}
.block-16 figure .play-button > span {
  position: absolute;
  left: 55%;
  top: 50%;
  -webkit-transform: translate(-60%, -50%);
  -ms-transform: translate(-60%, -50%);
  transform: translate(-60%, -50%);
}

.block-25 ul,
.block-25 ul li {
  padding: 0;
  margin: 0;
}

.block-25 ul li a .image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 90px;
  flex: 0 0 90px;
}
.block-25 ul li a .image img {
  border-radius: 4px;
  max-width: 100%;
  opacity: 1;
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.block-25 ul li a .text .heading {
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  color: #999999;
}

.block-25 ul li a .meta {
  color: #25CCF7;
}

.block-25 ul li a:hover img {
  opacity: 0.5;
}

.block-25 ul li a:hover .text .heading {
  color: #fff;
}

#date-countdown .countdown-block {
  color: #b3b3b3;
}

#date-countdown .label {
  font-size: 40px;
  color: #000;
}

.next-match .image {
  width: 50px;
  border-radius: 50%;
}
.unit-4 .unit-4-icon span {
  font-size: 3rem;
}

.unit-4 h3 {
  font-size: 20px;
}
.accordion-item[aria-expanded='true'] {
  color: #25CCF7;
}

.box-with-humber {
  position: relative;
}
.box-with-humber .number-behind {
  font-size: 8rem;
  position: absolute;
  z-index: -1;
  top: -4rem;
  left: -3rem;
  font-weight: 900;
  color: #f8e1df;
}

.media-1 {
  position: relative;
  display: block;
  overflow: hidden;
  margin-bottom: 30px;
}
.media-1:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  content: '';
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  opacity: 0;
  visibility: hidden;
}
.media-1 img {
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  /* TODO: IMAGE NOT SAME SIZE  */
  /* width: 800px;
  height: 773px; */
}
.media-1 .media-1-content {
  z-index: 4;
  top: 50%;
  position: absolute;
  width: 100%;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.media-1 .media-1-content h2 {
  position: relative;
  color: #fff;
  font-size: 1.5rem;
  -webkit-transition: 0.4s all ease-in-out;
  -o-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
  opacity: 0;
  visibility: hidden;
  bottom: -10px;
  margin-bottom: 0px;
}
.media-1 .media-1-content .category {
  position: relative;
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  opacity: 0;
  bottom: -10px;
  visibility: hidden;
  color: #999999;
  font-size: 13px;  
  letter-spacing: 0.2em;
}
.media-1:hover:after {
  opacity: 1;
  visibility: visible;
}
.media-1:hover h2 {
  bottom: 0px;
  opacity: 1;
  visibility: visible;
}
.media-1:hover .category {
  opacity: 1;
  visibility: visible;
  bottom: 0px;
  -webkit-transition-delay: 0.09s;
  -o-transition-delay: 0.09s;
  transition-delay: 0.09s;
}
.media-1:hover img {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.photo-btn {
  overflow-x: hidden;
  text-align: center;
  padding: 0 12px;
  background-color: #ff7979;
  transition: 1s all;
  border: solid #fff;
}
.site-footer .border-top p {
  color: #d3ae87 !important;
}
.site-footer .border-top a {
  color: #ff7979;
}
/* ----------------
Hero section
 ---------------------*/

.hero-section {
  position: relative;
  height: 100vh;
}

.hs-item {
  /* height: 1068px; */
  height: 100vh;
	padding-top: 250px;
}

.hs-item h2 {
	font-size: 48px;
	font-weight: 400;
	color: #fff;
	top: 50px;
	opacity: 0;
	position: relative;
}

.hero-slider .owl-item.active .hs-item h2 {
	top: 0;
	opacity: 1;
	-webkit-transition: all 0.5s ease 0.2s;
	transition: all 0.5s ease 0.2s;
}

.hero-slider .owl-nav {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 180px;
	z-index: 7;
	text-align: right;
}

.hero-slider .owl-nav button.owl-next,
.hero-slider .owl-nav button.owl-prev {
	width: 84px;
	height: 84px;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	background: #12c7b8;
	color: #fff;
	font-size: 40px;
}

.hero-slider .owl-nav button.owl-next {
	background: #fff;
	color: #12c7b8;
}

.hero-nav-slider-warp {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 40px;
	z-index: 6;
}

.hero-nav-slider {
	background: rgba(255, 255, 255, 0.15);
}

.hero-nav-slider .hns-item {
	padding: 26px 0 26px 30px;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}

.hero-nav-slider .hns-item h5 {
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
}

.hero-nav-slider .hns-item p {
	color: #fff;
	margin-bottom: 0;
	padding: 6px 0;
}

.hero-nav-slider .hns-item span {
	font-size: 24px;
	font-weight: 600;
	color: #fff;
}

.hero-nav-slider .current .hns-item {
	background: #fff;
	border-left: 4px solid #12c7b8;
}

.hero-nav-slider .current .hns-item h5,
.hero-nav-slider .current .hns-item span {
	color: #081624;
}

.hero-nav-slider .current .hns-item p {
	color: #73778e;
}

/* ----------------
Responsive
 ---------------------*/

@media (min-width: 1200px) {
	.container {
		max-width: 1176px;
	}
}

/* Medium screen : 992px. */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.main-menu li a {
		margin-right: 40px;
	}
	.hero-nav-slider .hns-item {
		padding: 26px 10px 26px 15px;
	}
	.hero-nav-slider .hns-item h5 {
		font-size: 14px;
	}
}

/* Tablet :768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.hero-nav-slider .hns-item {
		padding: 26px 10px 26px 15px;
	}
	.hero-social-warp {
		height: 60px;
		right: 0;
		top: 140px;
		width: 100%;
	}
	.hero-social a {
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
		width: 40px;
		height: 40px;
		font-size: 14px;
		margin: 0 3px;
	}
	.hs-item {
		text-align: center;
	}
	.design-slider .owl-nav button.owl-next,
	.design-slider .owl-nav button.owl-prev,
	.property-features-slider .owl-nav button.owl-next,
	.property-features-slider .owl-nav button.owl-prev {
		margin-top: -23px;
		width: 46px;
		height: 46px;
		font-size: 24px;
	}
}

/* Large Mobile :480px. */

@media only screen and (max-width: 767px) {
	.nav-switch {
		right: 30px;
		display: block;
		float: right;
		font-size: 32px;
		cursor: pointer;
		color: #fff;
		margin-right: 40px;
		line-height: 32px;
	}
	.main-menu {
		float: none;
		padding-top: 0;
		background: #fff;
		position: absolute;
		width: 100%;
		left: 0;
		top: 118%;
		display: none;
	}
	.main-menu li {
		display: block;
		border-top: 1px solid #efefef;
	}
	.main-menu li a {
		display: block;
		color: #111;
		margin-left: 0;
		padding: 15px 35px;
	}
	.hero-nav-slider .hns-item {
		padding: 26px 10px 26px 15px;
	}

	.hs-item {
		text-align: center;
	}
	.design-slider a img {
		height: 250px;
		width: auto !important;
	}
	.design-slider a i {
		font-size: 50px;
		left: calc(50% - 25px);
	}
	.design-slider .owl-nav button.owl-next,
	.design-slider .owl-nav button.owl-prev,
	.property-features-slider .owl-nav button.owl-next,
	.property-features-slider .owl-nav button.owl-prev,
	.about-slider .owl-nav button.owl-next,
	.about-slider .owl-nav button.owl-prev,
	.hero-slider .owl-nav button.owl-next,
	.hero-slider .owl-nav button.owl-prev {
		margin-top: -23px;
		width: 46px;
		height: 46px;
		font-size: 24px;
	}
	.hs-item {
		height: auto;
	}
	.hs-item .container {
		padding-bottom: 400px;
	}
} 
.hero-slider .hs-item{
  background-size: cover;
  /* background: 50% 50% no-repeat; */
}

.navbar.scrolled {
  background-color: #ddd!important;
  transition: background-color 500ms linear; 

}
.categorys_shadow{
  border-radius: 13px;
  box-shadow: 0 15px 20px 3px #fff;
  transition: all 0.5s ease-in-out;

}
.categorys_shadow:hover{
  box-shadow: 0 6px 30px 10px #25CCF7;
  transition: 0.5s;
}
.navbar .navbar-toggler .navbar-toggler-icon {
  border: none;
  height: 20px!important;
  width: 20px!important;
  outline: none;
  box-shadow: none;

}
.navbar-nav .lang{
  font-size: 0.9rem;
  color: #25CCF7!important;
}

.navbar-nav .lang{
  display: inline-block!important;
}
.box-with-humber h2{
  color: #25CCF7!important;
}

.site-footer a img{
  width: 25px;
  height: 25px;
}
.form-group .btn{
 background-color: #25CCF7!important;
}
.navigation label{
  background-color: #25CCF7!important;
}


/* LANG */
/* .navbar-brand .navbar-nav .nav-item a.gflag {vertical-align:middle;padding:1px 0;background-repeat:no-repeat;}
.navbar-brand .navbar-nav .nav-item a.gflag img {border:0;} */
#goog-gt-tt {display:none !important;}
.goog-te-banner-frame {display:none !important;}
.goog-te-menu-value:hover {text-decoration:none !important;}
body {top:0 !important;}
.navbar-brand .navbar-nav .nav-item #google_translate_element2 {display:none!important;}
.navbar-brand .navbar-nav .nav-item select:focus{outline: none;}
.navbar-toggler{border:none;}
.navbar-toggler:focus{outline: none;}
.navbar-brand .navbar-nav .nav-item select {
  background: transparent;
  border: none;
  border-radius: 10px;
  padding: 7px;
  font-size: 14px;
}
.navbar-nav{
  margin-top: 10px;
}
.navbar-brand.lang{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

/* LOGO */
.logo-brand{
  padding: 0;
  margin: 0;
  position: relative;
  max-width: 180px;
  min-width: 180px;
  min-height: 80px;
  max-height: 80px;
  /* top: -40px; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-brand .navbar-brand-logo img{
  /*position: absolute;
  top: -17px;
  left: 0;
  width: 100%; 
  max-height: auto;*/
  width: 50px;
  height: auto;
  background-size: cover;
  object-fit: cover;
  /* background: pink; */
}

/* Öne çıkan ürünler */
.featured-product a img{
  max-height: 300px;
  min-height: 300px;
  object-fit: cover;
  background-size: cover;
}